/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*global*/
.page_main__ibFHK {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.page_header__xMZ9j {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    text-align: center;
    width: 100%;
    height: 4rem;
}

.page_h1__R0zbi {
  color: #DDD;
}

.page_links__6la7k {
     text-decoration: none;
     font-size: 1rem;
     color: white;
     border-radius: 10px;
     margin: 5px 0;
     padding: 10px;
     background-color: #333;
}

.page_botoes__Issq_ {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding:1rem;
}

.page_linkV__2mp_p {
    margin: 4px 0;
    background-color: #1E90FF;
    font-size: 18px;
    padding: 2px;
    text-decoration: none;
    width: 40%;
    text-align: center;
    color: black;
    border-radius: 4px;
}

.page_footer__lVP8S {
    background-color: #111;
    color: white;
    height: 3rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
} 

/*page principal*/
.page_containerP__PFRw4 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 5.3rem;
}

.page_card__ftWzl {
    width: 15rem;
    height: 33.3rem;
    display: block;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.3rem;
}

.page_imgC__wbf8G {
    width: 220px;
    height: 300px;
}

.page_tituloC__gkruE {
    border-top: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}

/*cadastro*/
.page_containerC__3CJyM{
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.page_formulario__aGBIQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
}

.page_input_padrao__HzDSU {
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    border-bottom: 3px outset black;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page_text_area__gfD54{
    padding: 5px;
    width: 91%;
    background-color: transparent;
    border: 3px outset black;
}

.page_botaoC__acQRs {
    background-color: #0BDA51;
    color: black;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    margin: 4px 0;
}

/*Ver mais*/
.page_containerV__pegjP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
    width: 20rem;
}

.page_imgV__K3uE8 {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  
}

.page_informacao__h88CV {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.page_botaoR__UwWbL {
    color: black;
    width: 40%;
    margin: 4px 0;
    font-size: 18px;
    background-color: #FF0000;
    border-radius: 4px;
    cursor: pointer;
}

.page_tituloV__4jLgg {
  text-align: center;
}

.page_precoV__G85a8 {
  text-align: center;
}

.page_dataV__kMdme {
  text-align: center;
}

.page_descricao__8HlW9 {
  margin: 10px 20px;
}

